@page "/People"


<h1>Demo for Youtube Person Project</h1>


<table width="100%" style="background:#05163D;color:honeydew">
    <tr>
        <td width="20"> </td>
        <td>
            <h2> Add New Person </h2>
        </td>
        <td> </td>
        <td align="right">
            <button class="btn btn-info" @onclick="(async () => await AddNewPerson())">Clear</button>
        </td>
        <td width="10"> </td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>
<div class="container">
    <div class="row">

        <div class="col-6">

            <form>
                <div class="form-group">
                    <label for="email">Person  Id</label>

                    <input type="text" class="form-control" @bind="PersonG.Id" readonly />
                </div>
                <div class="form-group">
                    <label for="Person">Name:</label>

                    <input type="text" class="form-control" @bind="PersonG.Name" placeholder="Person Name" />
                </div>

                <div class="form-group">
                    <label for="pwd">	Age:</label>
                    <input type="text" class="form-control" @bind="PersonG.Age" placeholder="Age" />
                </div>


                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="checkbox" @bind="PersonG.Visible" class="form-check-input" />Make It Visible ?

                    </label>
                </div>

                <div class="form-group" hidden>
                    <label for="IsVisible">IsVisible</label>

                    <input type="text" class="form-control" bind="@PersonG.Visible.ToString()" value="@PersonG.Visible.ToString()" readonly />
                </div>


                <button type="button" class="btn btn-success" @onclick="@(()=> AddPerson())" style="width:220px;">Save</button>



            </form>
        </div>
    </div>
</div>

@code {

    Person[] Person;

    Person PersonG = new Person();

    string ids = "0";
    bool showAddrow = false;
    protected override async Task OnInitializedAsync()
    {
        Person = await Http.GetJsonAsync<Person[]>("/api/People/");
    }

    async Task AddNewPerson()
    {
        PersonG = new Person();

    }

    async Task AddPerson()
    {

    }

}
